.footer__column-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}